<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
                <img src="img/the_simpsons.png" alt="">
                <a href="/">Home</a>
                <a href="/favorite-quote"> Favourite</a>
        </nav>
    </header>
    <main class="home">
            <% data.forEach(element => { %>
            <section>
                <h1 value="<%= element.character %>"><%= element.character %></h1>
                <p><%= element.quote %></p>
                <img src="<%=element.image%>" alt="img">
                <form action="/save" method="post">
                    <input type="hidden" name="character" value="<%= element.character %>">
                    <input type="hidden" name="quote" value="<%= element.quote %>">
                    <input type="hidden" name="image" value="<%= element.image %>">
                    <input type="hidden" name="characterDirection" value="<%= element.characterDirection %>">
                    <button class="submit" type="submit">Favor character</button>
                </form>
            </section>
            <% }); %>
    </main>
</body>
</html>